{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preload" href="https://res.cloudinary.com/dbng9d2id/raw/upload/v1748822500/Recoleta-Regular_xalwe8.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://res.cloudinary.com/dbng9d2id/raw/upload/v1748822654/Recoleta-Bold_abzb7i.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://res.cloudinary.com/dbng9d2id/raw/upload/v1748822589/Recoleta-Medium_ndmbt9.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="icon" href="https://res.cloudinary.com/dbng9d2id/image/upload/c_limit,f_auto,q_auto:eco,w_800/v1748824346/lp_logo_jrrbt5.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#006A71">
    <meta name="description" content="Discover and share the most effective prompts for your needs. Your go-to destination for ready-to-use, copy-paste prompts that make AI interactions effortless.">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <title>Lazy Prompts | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'layouts/partials/navbar.html' %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    {% include 'layouts/partials/footer.html' %}
    
    <!-- URL Configuration for JavaScript -->
    <script>
        window.djangoUrls = {
            toggleLike: "{{ toggle_like_url }}",
            login: "{{ login_url }}"
        };
    </script>
    
    <!-- JavaScript -->
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/create-prompt.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
