{% extends 'layouts/base.html' %}
{% load static %}
{% load cloudinary %}
{% load cache %}

{% block title %}{{ topic.name }} Prompts{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}">
{% endblock %}

{% block content %}
    <h1 class="topic-title">{{ topic.name }}</h1>
    <div class="topic-description">{{ topic.description }}</div>
    {% if not prompts %}
        <p>No prompts found for this topic.</p>
    {% else %}
        {% include 'layouts/partials/feed/posts.html' %}
    {% endif %}
{% endblock %}
