{% extends 'layouts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    
    <div class="form-group">
        {% for field in form %}
            {{ field.label_tag }} {{ field }}
            <br>
        {% endfor %}
    </div>
    <button type="submit">Login</button>
</form>
<h2>Or</h2>
<a href="/accounts/google/login/">Login with Google</a>
<a href="/accounts/github/login/">Login with Github</a>
{% endblock %}